
/* APPBAR */

.app-topbar {
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem 1rem;
    background-color: transparent;
}

.appbar-logo {
    height: 0.9rem;
    width: auto;
}

.greet-user {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.89rem;
}

.theme-setter {
    padding: .64rem;
    border-radius: 50%;
    background-color: white;
    transition: 0.3s;
}

.theme-setter:active, .theme-setter:hover {
    box-shadow: 0px 0px 13px 5px white;
}