/* ADDpRODUCTcOMP stylesheet */

.addproduct-wrapper {
    display: block;
    margin: 1rem auto;
    padding: 4px 0;
}

.addproduct {
    width: 2rem;
    height: auto;
    padding: 4px;
    border-radius: 50%;
    background-color: cadetblue;
}

.addproduct:active { background-color: yellowgreen; }

.productlist-wrapper {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: 60vh;
    margin: 0.8rem auto;
    border-radius: 6px;
    color: black;
    background-color: aliceblue;
    overflow: hidden;
}

.productlist-topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 2rem;
    padding: 3px 8px;
    background-color: lightslategrey;
}

.productlist {
    display: inline-block;
    padding: 10px;
    width: 100%;
    background-color: lightblue;
    overflow-y: scroll;
}

.product-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 10px auto;
    padding: 4px 8px;
    border-radius: 4px;
    border: 1px solid saddlebrown;
}

.product-item:hover, .product-item:active { background-color: aqua; }

.productmenu-icon {
    width: 2.8rem;
    height: auto;
}

.productmenu-item-name {
    display: inline;
    margin: 0;
}

.productlist-bottombar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 3px 0;
    background-color: beige;
}

.productmenu-cancel, .productmenu-ok {
    border: 1px solid white;
    border-radius: 5px;
    outline: none;
    margin: 0 3px;
    padding: 2px 6px;
    color: white;
    text-transform: uppercase;
    background-color: darkcyan;
}

.productmenu-cancel { background-color: red; }


@media screen and (min-width: 992px) {
    .productlist { grid-template-columns: auto auto auto auto; }
    .productmenu-icon { width: 5rem; }
}