/* APP */

.main-wrapper {
    display: block;
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding: 1rem 0;
    overflow-x: hidden;
    background-color: blueviolet;
}



/* GENERAL STYLESHEET */

.title-level-4 {
    color: grey;
    font-size: 14px;
    text-transform: lowercase;
}

.visibleflex {
    display: flex!important;
}

.hidden { display: none; }


/* STANDALONE ELEMENTS */

.calculatebill-btn {
    padding: 6px 12px;
    text-transform: uppercase;
    font-family: arial;
    font-weight: 500;
    border-radius: 12px;
    border: 1px solid blue;
    background-color: aqua;    
}

.calculatebill-btn:active {
    background-color: black;
    color: cyan;
}